

*{
    margin:0;
    padding:0;
}

:root{
 --cor-primaria: #8ecae6ff;
 --cor-secundaria: #219ebcff;
 --cor-tercearia: #023047ff;
 --cor-quartenaria: #ffb703ff;
 --cor-quinaria: #fb8500ff;
}

body{ 
     background-color: var(--cor-primaria)
     color: var(--cor-secundaria)
     font-family: var(--0)
    
}

.titulo-principal {
    font-family: var(--texto-corpo);
}

.cabecalho{ 
    background-color: var(cor-quatro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 10%;
    border-radius:100% ;
}

.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--texto-titulo);
    font-size: 24px;
    color:var (--selective-yellow);
    margin-right:24px; 
}

.cabecalho-nav__link:hover{
    color:var(--sky-blue);
    font-size: 46px;
    transition: 0.5ms;
    text-shadow: 2px 2px 20px var(--prussian-blue);
}










