@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Guerrilla&display=swap');
*{
    margin:0;
    padding:0;
}

:root{
 --cor-primaria: #8ecae6ff;
 --cor-secundaria: #219ebcff;
 --cor-tercearia: #023047ff;
 --cor-quartenaria: rgb(85, 88, 240);
 --cor-quinaria: rgb(138, 0, 251);
 --font-titulo:"Protest Guerrilla", sans-serif;
 --font-texto:"Oswald", sans-serif;

}

body{ 
     background-color: var(--cor-primaria);
     color: var(--cor-secundaria);
     font-family: var(--font-texto);
    
}

.titulo-principal {
    font-family: var(--font-titulo);
}

.cabecalho{ 
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 10%;
    border-radius:50% ;
}

.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--texto-titulo);
    font-size: 50px;
    color:var(--cor-quartenaria);
    margin-right:24px; 
}

.cabecalho-nav__link:hover{
    color:var(--cor-tercearia);
    font-size: 46px;
    transition: 0.5ms;
    text-shadow: 2px 2px 20px var(--cor-secundaria);
}










